*The dataset does not explicitly mention measurement units. Since it is sourced from EIA (Environmental Impact Assessment (EIA) ), I treated the values as standardized metrics and focused on relative comparisons, trends, ratios, and per-capita calculations rather than absolute unit values. Wherever needed, I clearly stated assumptions.*

| Dataset            | Unit                  |
| ------------------ | --------------------------------- |
| *Population*        | Total population 
|                      (count - million,billion)          |
|------------------ | ------------------ | ------------------ |
| *GDP*                | GDP PPP (relative values) |
|                     currency units (e.g., US Dollars, Indian Rupees, Euros) |
|------------------ | ------------------ | ------------------ |
| *Emission*           | Total emissions (comparative) |
|                        Total emissions are generally measured in Metric Tons (t),  |     |                         Million  Metric Tons (MtCO2 or MtCO2eq), |
|                         or Gigatons (GtCO2) per year. |
|------------------ | ------------------ | ------------------ |
| *Consumption*        | Energy consumption (standardized) |
|                       meta watt,gigawatt,Terawatt-hours (TWh) per annum |
|------------------ | ------------------ | ------------------ |
| *Production*         | Energy production (standardized)|
|                        kilowatt-hours,megawatts (MW),gigawatts (GW)|
|------------------ | ------------------ | ------------------ |
| *Per Capita Metrics* | Calculated per person   |  
|represent averages per person, calculated by dividing total metrics    |                  | (e.g., GDP, income, consumption) by the total population|

In [1]:
# Emission column ( per capita emission are same for all) is (0.007126096)
# and other emision column have value (so how we refer emision column to the per capita emission)

In [19]:
import pandas as pd
import numpy as np

df = pd.read_csv(r"C:\Users\VSR07\Projects Done\SQl Energy\consum_3.csv")
df.tail(10)

#consume - "C:\Users\VSR07\Projects Done\SQl Energy\consum_3.csv"
#country - "C:\Users\VSR07\Projects Done\SQl Energy\country_3.csv"
#emission - "C:\Users\VSR07\Projects Done\SQl Energy\emission_3.csv"
#GDP - "C:\Users\VSR07\Projects Done\SQl Energy\gdp_3.csv"
#Population - "C:\Users\VSR07\Projects Done\SQl Energy\population_3.csv"
# Production "C:\Users\VSR07\Projects Done\SQl Energy\production_3.csv"

,country,energy,year,consumption
5267,Uruguay,Petroleum and other liquids (quad Btu),2023,0.100934
5268,Uzbekistan,Petroleum and other liquids (quad Btu),2023,0.208642
5269,Vanuatu,Petroleum and other liquids (quad Btu),2023,0.004075
5270,Venezuela,Petroleum and other liquids (quad Btu),2023,0.403538
5271,Vietnam,Petroleum and other liquids (quad Btu),2023,1.066797
5272,Wake Island,Petroleum and other liquids (quad Btu),2023,0.017213
5273,Western Sahara,Petroleum and other liquids (quad Btu),2023,0.003996
5274,Yemen,Petroleum and other liquids (quad Btu),2023,0.114584
5275,Zambia,Petroleum and other liquids (quad Btu),2023,0.070170
5276,Zimbabwe,Petroleum and other liquids (quad Btu),2023,0.069335

In [20]:
df['year'].unique()

array([2020, 2021, 2022, 2023])

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5277 entries, 0 to 5276
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      5277 non-null   object
 1   energy       5277 non-null   object
 2   year         5277 non-null   int64
 3   consumption  5277 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 165.0+ KB

In [8]:
df.isnull().sum()

country        0
energy         0
year           0
consumption    0
dtype: int64

In [10]:
df.duplicated().sum()

np.int64(0)

In [12]:
df = pd.read_csv(r"C:\Users\VSR07\Projects Done\SQl Energy\country_3.csv")
df.head(10)

               Country  CID
0          Afghanistan  Af0
1              Albania  Al1
2              Algeria  Al2
3       American Samoa  Am3
4               Angola  An4
5           Antarctica  An5
6  Antigua and Barbuda  An6
7            Argentina  Ar7
8              Armenia  Ar8
9                Aruba  Ar9

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  230 non-null    object
 1   CID      230 non-null    object
dtypes: object(2)
memory usage: 3.7+ KB

In [14]:
df.isnull().sum()

Country    0
CID        0
dtype: int64

In [17]:
df.duplicated().sum()

np.int64(0)

In [21]:
df = pd.read_csv(r"C:\Users\VSR07\Projects Done\SQl Energy\emission_3.csv")
df.head(10)

                  country                          energy type  year  emission
0          American Samoa  Consumed natural gas (MMtonnes CO2)  2020       0.0
1              Antarctica  Consumed natural gas (MMtonnes CO2)  2020       0.0
2     Antigua and Barbuda  Consumed natural gas (MMtonnes CO2)  2020       0.0
3                   Aruba  Consumed natural gas (MMtonnes CO2)  2020       0.0
4                  Belize  Consumed natural gas (MMtonnes CO2)  2020       0.0
5                 Bermuda  Consumed natural gas (MMtonnes CO2)  2020       0.0
6                  Bhutan  Consumed natural gas (MMtonnes CO2)  2020       0.0
7                Botswana  Consumed natural gas (MMtonnes CO2)  2020       0.0
8  British Virgin Islands  Consumed natural gas (MMtonnes CO2)  2020       0.0
9            Burkina Faso  Consumed natural gas (MMtonnes CO2)  2020       0.0

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3515 entries, 0 to 3514
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      3515 non-null   object
 1   energy type  3515 non-null   object
 2   year         3515 non-null   int64
 3   emission     3515 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 110.0+ KB

In [24]:
df['year'].unique()

array([2020, 2021, 2022, 2023])

In [26]:
df.duplicated().sum()

np.int64(0)

In [27]:
df.isnull().sum()

country        0
energy type    0
year           0
emission       0
dtype: int64

In [31]:
df['emission'].nunique()

2585

In [33]:
df['emission'].duplicated().sum()

np.int64(930)

In [48]:
df = pd.read_csv(r"C:\Users\VSR07\Projects Done\SQl Energy\gdp_3.csv")
df.head(10)

               Country  year        Value
0          Afghanistan  2020    83.216450
1              Albania  2020    36.787520
2              Algeria  2020   531.974900
3               Angola  2020   215.901600
4  Antigua and Barbuda  2020     1.772876
5            Argentina  2020   866.969100
6              Armenia  2020    33.002280
7                Aruba  2020     2.584789
8            Australia  2020  1219.307000
9              Austria  2020   453.227500

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  1000 non-null   object
 1   year     1000 non-null   int64
 2   Value    1000 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 23.6+ KB

In [50]:
df['Country'].nunique()

200

In [51]:
df.isnull().sum()

Country    0
year       0
Value      0
dtype: int64

In [52]:
df.duplicated().sum()

np.int64(0)

In [53]:
df = pd.read_csv(r"C:\Users\VSR07\Projects Done\SQl Energy\population_3.csv")
df.head(10)

             countries  year      Value
0          Afghanistan  2024  42647.490
1              Albania  2024   2791.765
2              Algeria  2024  46814.310
3               Angola  2024  37885.850
4  Antigua and Barbuda  2024     93.772
5            Argentina  2024  45696.160
6              Armenia  2024   2973.840
7                Aruba  2024    108.066
8            Australia  2024  27236.210
9              Austria  2024   9170.854

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   countries  1000 non-null   object
 1   year       1000 non-null   int64
 2   Value      1000 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 23.6+ KB

In [55]:
df.isnull().sum()

countries    0
year         0
Value        0
dtype: int64

In [57]:
df.duplicated().sum()

np.int64(0)

In [61]:
df = pd.read_csv(r"C:\Users\VSR07\Projects Done\SQl Energy\production_3.csv")
df.tail(10)

,country,energy,year,production
5284,United Kingdom,"Nuclear, renewables, and other (quad Btu)",2020,1.155375
5285,United States,"Nuclear, renewables, and other (quad Btu)",2020,15.706208
5286,Uruguay,"Nuclear, renewables, and other (quad Btu)",2020,0.061400
5287,Uzbekistan,"Nuclear, renewables, and other (quad Btu)",2020,0.017087
5288,Vanuatu,"Nuclear, renewables, and other (quad Btu)",2020,0.000075
5289,Venezuela,"Nuclear, renewables, and other (quad Btu)",2020,0.213393
5290,Vietnam,"Nuclear, renewables, and other (quad Btu)",2020,0.302658
5291,Yemen,"Nuclear, renewables, and other (quad Btu)",2020,0.001672
5292,Zambia,"Nuclear, renewables, and other (quad Btu)",2020,0.044821
5293,Zimbabwe,"Nuclear, renewables, and other (quad Btu)",2020,0.013933

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5294 entries, 0 to 5293
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     5294 non-null   object
 1   energy      5294 non-null   object
 2   year        5294 non-null   int64
 3   production  5294 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 165.6+ KB

In [64]:
df.isnull().sum()

country       0
energy        0
year          0
production    0
dtype: int64

In [65]:
df.duplicated().sum()

np.int64(0)